[Unit]
Description=Premiumizearr Daemon
After=network.target
[Service]
User=1000
Group=1000
UMask=0002
Type=simple
Environment=PREMIUMIZEARR_LOG_LEVEL=info
ExecStart=/opt/premiumizearrd/premiumizearrd
WorkingDirectory=/opt/premiumizearrd/
TimeoutStopSec=20
KillMode=process
Restart=on-failure
[Install]
WantedBy=multi-user.target