[Unit]
Description=Premiumizearr Daemon
After=network.target
[Service]
User=$USER
Group=$USER
UMask=0002
Type=simple
ExecStart=/opt/premiumizearrd/premiumizearrd
WorkingDirectory=/opt/premiumizearrd/
TimeoutStopSec=20
KillMode=process
Restart=on-failure
[Install]
WantedBy=multi-user.target